.code
{
    border: none;
    resize: none;
    color: white;
    font-size: large;
    box-sizing: border-box;
    padding-left: 10px;
    background-color: var(--main-dark);
    width: 100%;
    height: 100%;
}

.code:focus
{
    outline: none;
}

.accum
{
    height: 100%;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.accHead, .accHead-selected
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 40%;
    background-color: var(--secondary);
}

.selected-input
{
    color: black;
    background-color: white;
}

.accBody
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.console
{
    height: 30%;
}

.cardHead
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4%;
}   

.cardHead * + *
{
    margin-left: 10px;
}

.cardBody
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 92%;
}

.cardPart
{
    width: 100%;
    height: 79%;
}

.cardFlow
{
    flex-grow: 1;
}

.spacer
{
    flex-grow: 1;
}

.lmc
{
    height: 96vh;
    box-sizing: border-box;
    padding: 2vh;
    display: flex;
}

.switch
{
    width: 20%;
    border-radius: 10px;
    background-color: var(--main);
}

.switch-active
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--main);
}

.switch-hidden
{
    display: none;
}

.runButton
{
    background-color: var(--secondary);
    border: solid 1px;
    border-radius: 10px;
    border-color: white;
    color: var(--text);
}

.runButton:hover
{
    cursor: pointer;
}

.proc
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: calc(25% + 40px);
    border-radius: 10px;
    background-color: var(--main);
}

.randomAcessMemory
{
    margin-left: 20px;
    width: calc(55% - 80px);
    border-radius: 10px;
    background-color: var(--main);
}

.toolbar
{
    margin: 0;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    height: 4vh;
    display: flex;
    font-size: small;
    align-items: center;
    background-color: var(--secondary);
}

.slider
{
    width: 20px;
}

.halfHead
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    margin: 0;
}

.halfBody
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin: 0;
}

.halfRow
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 13.3%;
    margin: 0;
}

.halfBody .code
{
    border: none;
}

.halfCard
{
    width: 50%;
    height: 100%;
    margin: 0;
}

.slot
{
    width : calc(100%/10);
    height: calc(100%/10);
    padding: 0;
    background-color: transparent;
    border: solid 1px var(--main-light);
}

.slots{
    padding: 0;
    width: 100%;
    height: 100%;
}

.cacheTable
{
    padding: 0;
    width: 100%;
    height: 100%;
}

.slotHeader, .selected-slotHeader
{
    padding: 0;
    user-select: none;
    height: 30%;
    width: 100%;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.selected-slotHeader
{
    color: black;
    background-color: rgb(252, 252, 252);
}

.cache-table
{
    background-color: var(--main-dark);
    flex-grow: 1;
}

.color
{
    border: none;
    background-color: transparent;
    margin-right: 2%;
}

.slotBody
{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

.clearInput
{
    padding: 0;
    border: solid 1px;
    border-radius: 5px;
    border-color: var(--main-light);
    text-align: center;
    color: rgb(174, 174, 174);
    width: 60%;
    background-color: transparent;
}

.clearInput:hover
{
    cursor:default;
}

.configs
{
    height: 10.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accInput
{
    text-align: center;
    width: 25%;
    height: max-content;
    background-color: transparent !important; 
    color: var(--text);
    border: solid 1px;
    background-color: white;
    border-radius: 10px;
}

.centered
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHalf
{
    border: none;
    display: flex;
    width: 100%;
    height: 28.6%;
}

.roundButton
{
    padding: 0;
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: large;
    font-family: fantasy;
    background-color: rgba(0,0,0,0.1);
}

.roundButton:hover
{
    cursor: pointer;
    background-color: rgba(0,0,0,0.15);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    display: none; 
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: var(--main);
    padding: 0;
    border-radius: 5px;
}

.info-table-body
{
    height: 95%;
}

.info-table-head
{
    height: 5%;
}

.info-table
{
    width: 100%;
    height: calc(100% - 60px) !important;
    border-collapse: collapse;
}
.info-table th, td
{
    min-height: calc(100% / 12);
    border: 1px solid whitesmoke;
    text-align: left;
}
.info-table th
{
    text-align: center;
}

.info-table td
{
    box-sizing: border-box;
    padding-left: 15px;
}

.title
{
    font-size: large;
}

select
{
    background-color: var(--main);
    color: white;
    border: solid 1px white;
    border-radius: 5px;
}

option:checked:hover
{
    background-color: var(--main);
}