/* Variables */
:root
{
    --main:      rgb(50, 50, 55);
    --secondary: #464D7B;
}

html
{
    color: white;
}

body
{
    margin: 0;
    overflow: hidden;
    background-color: rgb(35, 35, 35);
    font-family: 'Courier New', Courier, monospace;
}

.code
{
    resize: none;
    font-size: large;
    background-color: transparent;
    border: solid 1px;
    border-radius: 5px;
    color: white;
    border-color: white;
    width: 100%;
    height: 100%;
}

.accum
{
    height: 100%;
    background-color: transparent;
    border: solid 1px white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.accHead
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 40%;
    background-color: var(--secondary);
}

.accBody
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.cardHead
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7%;
}   

.cardHead * + *
{
    margin-left: 10px;
}

.cardBody
{
    width: 100%;
    height: 93%;
}

.cardPart
{
    width: 100%;
    height: 79%;
}

.spacer
{
    flex-grow: 1;
}

.lmc
{
    height: calc(100% - 60px);
    padding: 20px;
    display: flex;
}

.terminal
{
    height: calc(100% - 60px);
    width: 20%;
    border-radius: 10px;
    background-color: var(--main);
}

.runButton
{
    background-color: var(--secondary);
    border: solid 1px;
    border-radius: 10px;
    border-color: white;
    color: white;
}

.runButton:hover
{
    cursor: pointer;
}

.proc
{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    height: calc(100% - 60px);
    width: calc(25% + 40px);
    border-radius: 10px;
    background-color: var(--main);
}

.randomAcessMemory
{
    height: calc(100% - 60px);
    margin-left: 20px;
    width: calc(55% - 80px);
    border-radius: 10px;
    background-color: var(--main);
}

.toolbar
{
    margin: 0;
    padding: 0 20px 0 20px;
    height: 60px;
    display: flex;
    font-size: large;
    align-items: center;
    background-color: var(--secondary);
}



.halfHead
{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    margin: 0;
}

.halfBody
{
    width: 100%;
    height: 80%;
    margin: 0;
}

.halfBody .code
{
    border: none;
}

.halfCard
{
    width: 50%;
    height: 100%;
    margin: 0;
}

.slot
{
    width: calc(100%/10);
    height: calc(100%/10);
    padding: 0;
    background-color: transparent;
    border: solid 1px;
    border-color: white;
    border-radius: 5px;
}

.slots{
    padding: 0;
    width: 100%;
    height: 100%;
}

.cacheTable
{
    padding: 0;
    width: 100%;
    height: 100%;
}

.slotHeader
{
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    user-select: none;
    height: 40%;
    width: 100%;
    display: flex;
    font-size: small;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
}

.color
{
    border: none;
    background-color: transparent;
    margin-right: 2%;
}

.slotBody
{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

.clearInput
{
    padding: 0;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgb(76, 76, 76);
    text-align: center;
    color: rgb(174, 174, 174);
    width: 60%;
    background-color: transparent;
}

.clearInput:hover
{
    cursor:default;
}

.configs
{
    height: 10.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accInput
{
    text-align: center;
    width: 25%;
    height: max-content;
    background-color: transparent !important; 
    color: white;
    border: solid 1px;
    background-color: white;
    border-radius: 10px;
}

.centered
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardHalf
{
    border: solid 1px white;
    border-radius: 0 0 5px 5px;
    display: flex;
    width: 100%;
    height: 32.5%;
}

.roundButton
{
    height: 30px;
    width: 30px;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: large;
    font-family: fantasy;
    background-color: rgba(0,0,0,0.1);
}

.roundButton:hover
{
    cursor: pointer;
    background-color: rgba(0,0,0,0.15);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
    display: none; 
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: var(--main);
    padding: 0;
    border-radius: 5px;
}

.info-table-body
{
    height: 95%;
}

.info-table-head
{
    height: 5%;
}

.info-table
{
    width: 100%;
    height: calc(100% - 60px) !important;
    border-collapse: collapse;
}
.info-table th, td
{
    min-height: calc(100% / 12);
    border: 1px solid whitesmoke;
    text-align: left;
    padding-left: 15px;
}
.info-table th
{
    text-align: center;
}

select
{
    background-color: var(--main);
    color: white;
    border: solid 1px white;
    border-radius: 5px;
}

option:checked:hover
{
    background-color: var(--main);
}